* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(228, 235, 50, 0.2),
    rgb(86, 163, 250)
  );
  padding: 25px;
}

.search-box {
  width: 80%;
  margin: 0 0 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: rgba(169, 161, 161, 0.8);
  font-size: 18px;
  color: black;
}
.location-box .location {
  color: white;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 4px 4px rgba(8, 7, 7, 0.5);
}

.location-box .date {
  color: white;
  font-size: 2rem;
  text-align: center;

  font-weight: 200;
  text-shadow: 2px 2px rgba(8, 7, 7, 0.4);
  font-style: italic;
}
.weather-box {
  text-align: center;
}

.weather-box .temperature {
  font-weight: 600;
  color: white;
  font-size: 90px;
  padding: 30px 30px;
  margin: 20px auto;
  text-shadow: 3px 6px rgba(76, 72, 72, 0.5);
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(76, 72, 72, 0.5);
}
.weather-box .weather {
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 4px 6px rgba(76, 72, 72, 0.5);
}

.app {
  /* background-image: url(https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148625271.jpg?auto=format&h=200); */
  background-size: cover;
  background-image: url(https://img.freepik.com/free-vector/stormy-rainy-weather-forecast-3d-realistic-icons-set-with-sun-disc-clouds-with-rainfall_1441-3071.jpg?w=1060&t=st=1669143645~exp=1669144245~hmac=c7ce081808d19279290ceb26af1558cf97d9bb3b0b3242134ddc554ec1f05155);
}
.app.warm {
  background-image: url(https://img.freepik.com/premium-photo/sunny-day-weather-forecast-info-icon-yellow-sun-blue-climate-weather-element-trendy-button-metcast-wf-report-mark-meteo-mobile-app-business-web_256259-3169.jpg?w=1380);
  background-size: cover;
}
h1 {
  text-align: center;
}
