body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100px;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.65)
  );
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 80px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: rgba(169, 161, 161, 0.8);
  font-size: 18px;
  color: black;
}
.location-box .location {
  color: white;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 4px 4px rgba(8, 7, 7, 0.5);
}

.location-box .date {
  color: white;
  font-size: 2rem;
  text-align: center;

  font-weight: 200;
  text-shadow: 2px 2px rgba(8, 7, 7, 0.4);
  font-style: italic;
}
.weather-box {
  text-align: center;
}

.weather-box .temperature {
  font-weight: 600;
  color: white;
  font-size: 90px;
  padding: 30px 30px;
  margin: 20px auto;
  text-shadow: 3px 6px rgba(76, 72, 72, 0.5);
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(76, 72, 72, 0.5);
}
.weather-box .weather {
  color: white;
}
